<div
  class="flex flex-col {{if @isDisabled 'text-disabled'}}"
  data-root-field={{if @rootTestSelector @rootTestSelector}}
>
  <Form::Field as |field|>
    <field.Label for={{field.id}} data-label>
      {{@label}}
      {{#if @hint}}
        <field.Hint data-hint>{{@hint}}</field.Hint>
      {{/if}}

      <field.Control class="flex">
        <div
          class="bg-overlay-1 shadow-focusable-outline focus-within:shadow-focus-outline relative inline-flex h-8 w-full flex-wrap items-center rounded-sm"
        >
          <input
            aria-describedby="{{if @error field.errorId}}"
            {{! template lint thinks this input is a button, and so doesn't not support aria-invalid }}
            {{! template-lint-disable no-unsupported-role-attributes }}
            aria-invalid={{if @error "true"}}
            class="text-titles-and-attributes focus:outline-none absolute m-1 h-6 w-0 cursor-pointer bg-transparent p-1
              {{if @isDisabled 'text-disabled' 'text-titles-and-attributes'}}
              {{if @error 'shadow-error-outline' 'shadow-focusable-outline'}}"
            disabled={{@isDisabled}}
            id={{field.id}}
            type="file"
            accept={{this.accept}}
            multiple={{this.multiple}}
            {{! template-lint-disable no-bare-strings no-inline-styles  }}
            style="clip: rect(1px, 1px, 1px, 1px);"
            ...attributes
            {{on "change" this.onChange}}
          />
          <div
            class="text-titles-and-attributes inline-flex w-full cursor-pointer items-center gap-x-2 pl-2"
          >
            {{! TODO: https://github.com/CrowdStrike/ember-toucan-core/issues/49 replace with official icon later }}
            <svg
              class="h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              stroke="currentColor"
              viewBox="0 0 24 24"
            ><path
                d="M16.2 7.6l-2.1-2.3L12 3v13.1M12 3L9.9 5.3 7.8 7.6M21 15.1V19a2 2 0 01-2 2H5a2.006 2.006 0 01-2-2v-3.9"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              ></path></svg>
            {{@trigger}}
          </div>
        </div>
      </field.Control>
    </field.Label>
    {{#if @error}}
      <field.Error id={{field.errorId}} data-error>{{@error}}</field.Error>
    {{/if}}
    {{#if @files.length}}
      <ul class="list-none" data-files>
        {{#each @files as |file|}}
          <li class="flex items-center p-0">
            <div class="flex-1 px-4 py-2">
              <p
                class="text-titles-and-attributes m-0 truncate p-0"
                data-file-name
              >{{file.name}}</p>
              <span
                class="text-body-and-labels block"
                data-file-size
              >{{(this.formatSize file.size)}}</span>
            </div>
            <button
              type="button"
              class="flex-none bg-transparent"
              {{on "click" (fn @onDelete file)}}
            >
              <svg
                class="text-text-and-icons h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                stroke="currentColor"
                viewBox="0 0 24 24"
              ><path
                  d="M3.4 6.2h17.2m-15.3 0V19a2.063 2.063 0 00.538 1.413A1.836 1.836 0 007.2 21h9.6a1.861 1.861 0 001.325-.587A2.039 2.039 0 0018.7 19V6.2M10 15.6v-4m4 0v4M9.4 6.2V3.9a.98.98 0 01.212-.637A.746.746 0 0110.2 3h3.6a.743.743 0 01.587.263.975.975 0 01.213.637v2.3"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                ></path></svg>
            </button>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </Form::Field>
</div>
