<div class="min-w-4 min-h-4 relative flex h-4 w-4 items-center justify-center">
  {{! I think this is only valid if role="checkbox" (https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-checked) - maybe we should use our own data attribute instead? }}
  {{! template-lint-disable no-unsupported-role-attributes }}
  <input
    aria-checked={{this.ariaChecked}}
    class="border-body-and-labels focus:outline-none inline-block h-4 w-4 appearance-none rounded-sm border p-0 align-middle
      {{this.styles}}"
    type="checkbox"
    checked={{this.isChecked}}
    indeterminate={{this.isIndeterminate}}
    disabled={{@isDisabled}}
    ...attributes
    {{on "click" this.handleInput}}
  />

  {{#if this.isCheckedOrIndeterminate}}
    <div
      class="pointer-events-none absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform-gpu"
    >
      {{#if this.isIndeterminate}}
        {{! TODO: https://github.com/CrowdStrike/ember-toucan-core/issues/49 - Placeholder icon }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          stroke="currentColor"
          viewBox="0 0 24 24"
          class="text-ground-floor h-3 w-3"
        ><path
            d="M20 12H4"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          ></path></svg>
      {{else}}
        {{! TODO: https://github.com/CrowdStrike/ember-toucan-core/issues/49 - Placeholder icon }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          stroke="currentColor"
          viewBox="0 0 24 24"
          class="text-ground-floor h-3 w-3"
        ><path
            d="M3 14.7l2.7 2.45 2.7 2.45 6.3-7.6L21 4.4"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          ></path></svg>
      {{/if}}
    </div>
  {{/if}}
</div>