<h2 id="title">Welcome to Ember</h2>

{{! template-lint-disable require-input-label }}
<Input />
{{! template-lint-disable require-input-label }}
<Input hasError={{true}} />
<Input isDisabled={{true}} />

<Form::Fields::Input @label="Label" @hint="hint text" type="text" />

<Form::Fields::Input @label="Label" type="text" @error="There is an error" />
<Form::Fields::Input @label="Label" type="text" @isDisabled={{true}} />

<Textarea />
<Textarea hasError={{true}} />
<Textarea isDisabled={{true}} />

<Form::Fields::Textarea @label="Label" @hint="Hint text" />
<Form::Fields::Textarea @label="Label" @hint="Hint text" @error="Error text" />
<Form::Fields::Textarea
  @label="Label"
  @hint="Hint text"
  @error="Error text"
  isDisabled={{true}}
/>

<Form::Field as |field|>
  <field.Label>label</field.Label>
  <field.Hint>hint</field.Hint>
  {{! we'll handle the wiring of the label }}
  {{! template-lint-disable require-input-label }}
  <field.Control>
    <input type="text" />
  </field.Control>
  <field.Error @error="error" />
</Form::Field>