<div
  class="type-xs-tight text-critical mt-1.5 flex
    {{if this.hasMoreThanOneError 'items-start' 'items-center'}}"
  ...attributes
>
  {{! Icon taken from Tony's open source icon set, this is temporary! }}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    stroke="currentColor"
    viewBox="0 0 24 24"
    aria-hidden="true"
    class="mr-1 h-3 w-3"
  >
    <path
      d="M12 3a9 9 0 11-6.364 2.636A8.972 8.972 0 0112 3zm0 4.7v5.2m0 3.39v.01"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    />
  </svg>

  {{#if this.hasMoreThanOneError}}
    {{! Unfortunately we need this inline style to help with the ul offset  }}
    {{! template-lint-disable no-inline-styles}}
    <ul class="m-0 list-none space-y-1 p-0" style="margin-top: -2px">
      {{#each this.errors as |error index|}}
        <li class="m-0 p-0" data-error-item={{index}}>{{error}}</li>
      {{/each}}
    </ul>
  {{else}}
    <span>{{get this.errors 0}}</span>
  {{/if}}
</div>